<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="supershop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="supershop.Properties.Settings.APOSSQLConnectionString"
      connectionString="Data Source=(local); Initial Catalog=APOSDB; User ID=sa;Password=sapass123!;"
      providerName="Sql.Data.MySqlClient" />
    <add name="supershop.Properties.Settings.psodbConnectionString"
      connectionString="data source=E:\Data_laptop_1\D_drive\G_Drive\Files_1\dotproject\supershop\up_to_date\POS_4_1_3_1_Resource\CodeC_File_advance_pos\Adv_POS_6_1\POS_Adv_Project_8_1\POS_Source_Code\POS__SQLite\supershop\bin\x86\Debug\psodb.db;version=3;new=False;compress=True"
      providerName="System.Data.SQLite" />
    <add name="supershop.Properties.Settings.psodbConnectionString1"
      connectionString="Data Source=psodb.db;Version=3;New=False;Compress=True"
      providerName="System.Data.SQLite" />
    <add name="supershop.Properties.Settings.psodbConnectionString2"
      connectionString="data source=E:\Data_laptop_1\D_drive\G_Drive\Files_1\dotproject\supershop\up_to_date\POS_4_1_3_1_Resource\CodeC_File_advance_pos\Adv_POS_6_1\POS_Adv_Project_8_1\POS_Source_Code\POS__SQLite\supershop\bin\x86\Debug\psodb.db"
      providerName="System.Data.SQLite" />
    <add name="supershop.Properties.Settings.AposMysqlConnectionString"
      connectionString="server=localhost; database=aposmysqldb; uid=root; PASSWORD=1234" />
    <add name="supershop.Properties.Settings.POSWinAppConnectionString"
      connectionString="Data Source=DIPAK;Initial Catalog=POSWinApp;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="supershop.Properties.Settings.erp53_15_11_2017ConnectionString"
      connectionString="Data Source=DIPAK;Initial Catalog=ERP_53_18_04_2018;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="supershop.Properties.Settings.Live_Connection" connectionString="Data Source=70.32.28.3;Initial Catalog=digita93_Senegal;Persist Security Info=True;User ID=johar"
      providerName="System.Data.SqlClient" />
    <add name="POSWinAppEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=70.32.28.3;initial catalog=digita93_Senegal;user id=johar;password=xqbQ#450;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CRMNewEntitiesNew" connectionString="Data Source=70.32.28.3;initial catalog=digita93_Senegal;Persist Security Info=True;User id=johar;password=xqbQ#450;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <applicationSettings>
    <supershop.Properties.Settings>
      <setting name="SomeProperty" serializeAs="String">
        <value />
      </setting>
      <setting name="Adv_POS_erp53_com1_WinConnection" serializeAs="String">
        <value>https://liveme.erp53.com/acm/winConnection.asmx</value>
      </setting>
      <setting name="Adv_POS_erp53_com_WinRegistration" serializeAs="String">
        <value>https://liveme.erp53.com/acm/WinRegistration.asmx</value>
      </setting>
    </supershop.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
